  /* .header.navbar {
        width: 100%;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: 0.25s;
    } */

@keyframes homeBgText {
  0%,10%,100%{
    /* dégradé décaler à gauche */
   background-position: -83rem 0; 
  }

   65%,
   85%
   {
    /* dégrader stable */
   background-position: 0 0; 
  }
  

}

@keyframes reveal{
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }

}

 /*  animations clignotement du curse */
/* @keyframes CursorText {
  /* Le curser est invisible largeur nulle */
  /* 0%,10%,100%{
   width: 0;
  } */

   /* 65%,
   78%,
   85%
   { */
    /* Lélement prend sa largeur final */
   /* width: 32%;
   opacity: 1;
  }

  75%,
  81%
  {
    opacity: 0;

  } */

/* } */ 

/* animation glowing-border */
/* @keyframes glowing-border {
    from{
        --angle :0deg ;
    } to {
        --angle:360deg ;
    }
          */

       @keyframes show-data{
        50%{
          transform: translate(-10rem);
        }

        100%{
          transform: translateY(-7rem);
        }
       }

       @keyframes remove-overflow{
        to{
          overflow: initial;

        }
       }

        @keyframes remove-overflow{
        0%{
          transform: translateY(-7rem);
          
        }

          50%{
          transform: translateY(-10rem);
          
        }

          100%{
          transform: translateY(.5rem);
          
        }
      }

      
        @keyframes remove-overflow{
        0%{
          overflow:initial;
          pointer-events: none;
          
        }

          50%{
          /* transform: translateY(-10rem); */
            overflow:hidden;
          
        }

          100%{
          transform: translateY(.5rem);
          
        }
      }