*{
    padding: 0;
    margin: 0;
    /* sans la largeur / hauteur ne s'applique qu' au contenu */
    /* box-sizing: border-box; */
    /* défilement animé en douceur */
    /* scroll-behavior: smooth; */

}


html{
    font-size: 62.5%;
    /* si le contenu dépasse du conteneur elle le coupe */
    /* overflow: hidden; */
}

body{
    margin: 0;
    height: 100vh;
    background:#000000;
    color: rgb(233, 230, 230);
    scroll-behavior: smooth;
    box-sizing: border-box;
       
}

/* barre de navigation*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    backdrop-filter: blur(15px); 
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size:  2.5rem;
    color: rgb(233, 230, 230);
    font-weight: 600;
    text-decoration: none;
}

 .logo span{
    color: #7c3aed;
    /* font-size: 600; */
}

.navbar{
    position: static;
   
}


.navbar a{
    /* position: fixed; */
    /* top: 0; 
     right: 0; */
     width: 100%;
    color: rgb(230, 228, 228);
    font-weight: 100;
    font-size: 20px;
    margin-left: 3.5rem;
    text-decoration: none;
  
}

.navbar a:hover{
    color: #7c3aed ;
    border-bottom: 2px solid #7c3aed ;

}



#menu,.burger{
    display:none ;
    
}

.burger{
    display: none;
}

.btn{
    border: none;
    padding: 15px 20px;
    margin-left: 40px;
    background: #7c3aed;
    border-radius: .8rem;
    border: .2rem solid #7c3aed;
    text-shadow: 0 0 10px #7c3aed;
}

.btn:hover{
    transform: translate(-2px);
}

/* hero-section */

section{
    min-height: 100vh;
    padding:10rem 9% 2rem ;

}

.home{
    display: FLEX;
    align-content: center;
    padding: 0 10;
    

}

.home-content{
    max-width: 50%;
    margin-top: 10rem;
   color: rgb(230, 228, 228);
    /* text-align: center; */
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
}

 .text-content .text-animate{
    position: relative;
    width: 32.5rem;


}

.home-content .text-animate h3{
    font-size:  4rem;
    font-weight: 700;
    color: transparent;
     text-shadow: 0 0 10px #7c3aed;
     font-family: Arial, Helvetica, sans-serif;
     /* lettre en contour */
    -webkit-text-stroke: .7px #7c3aed;
    background-image: linear-gradient(#7c3aed, #7c3aed);
    background-repeat: no-repeat;
    /* remplissage coloré au lieu d'un fond */
    -webkit-background-clip: text;
    /* point du départ du dégradé à l' intérieur du text */
    background-position:  -33rem 0 ;
    animation: homeBgText 6s linear infinite ;
    animation-delay: 2s;

}

.home-content .text-animate h3::before{
    content: ''; 
    position: absolute;
    top:0 ;
    left: 0;
    width: 0;
    height: 100%;
    margin-top: 25%;
    margin-left:9% ;
    height: 7%;
    border-right: 2px solid #7c3aed;
    z-index: -1;
    animation: CursorText 6s linear infinite ;
    animation-delay: 3s;

}




.home-content p{
    font-size: 2rem;
    margin: 2rem 0 5rem;
    /* font-size:  2rem; */

}

.btn-box{
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    /* width: rem;
    height: 4rem; */

}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    /* justify-content: center; */
    justify-content: space-between; 
    /* align-items: center; */
    width: 12rem;
    height: 2rem;
    background: #7c3aed ;
    text-shadow: 0 0 10px #7c3aed;
    border-radius: .9rem;
    border: .2rem solid #7c3aed  ;
    font-size: 1.9rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #0e0b18 ;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color:#7c3aed ;
}


.btn-box .btn:nth-child(2):hover{
    color: #0e0b18;

}



.btn-box .btn:nth-child(2)::before{
    background: #7c3aed ;

}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0e0b18;
    z-index: -1;
    transition: .5s;

}

.btn-box .btn:hover::before{
width: 100%;

}

.btn-box .btn:hover{
    color: #7c3aed ;
}


/* .stats {
    background: #7c3aed;
    display: flex;
    border-radius: 30%;
    padding: 10%;
} */

img{
    position: relative;
    top: 0;
    /* bottom: 0; */
    right: 0;
    
    /* width: 45%; */
    /* background: black;  */
    /* border: 2px solid red; */
    /* height: 90%; */
    display: flex;
    justify-content: flex-end;
    align-items: top ;
     max-width:100% ;
   
    max-height: 100%;
    
}
img:hover{
    background: #b9b84a;
}


/* A PROPOS */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem ;
    background: #000000;
    max-height: 50vh;
    padding: 12rem 15%;
    /* flex-direction: row; */
    /* text-align: left; */
    /* height: 50%; */
   
}

.about-content h3{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    font-size: 7rem;
    text-align: left;
}

/* .about-img{
    order: 2;
} */

.about-img .about-img1{
    /* display: inline-flex;
    align-self: flex-start;
    align-items: flex-start; */
    /* position: absolute;
    bottom: 0; */
   
    width: 58vw;
    height: 28vw;
    /* margin-bottom: 1rem; */
    border-radius: 50%;
    box-shadow: 0 0 25px  #7c3aed ;
    transition: 0.3s ease-in-out;
}

/* .about-img .about-img1:hover{
    box-shadow: 0 0 25px #7c3aed    ,
                0 0 50px #7c3aed ,
                0 0 100px #7c3aed ;
} */


 #para{
    font-size:2rem  ;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(224, 226, 228);


}

.about-content   span{
    color: #7c3aed;
}

.about-content .butn{
    margin: 3rem 0;
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #7c3aed;
    font-size: 1.8rem;
    border-radius: 3rem;
    box-shadow: 0 0 10px #7c3aed;

}

::-webkit-scrollbar{
    width: 20px;

}

::-webkit-scrollbar-thumb{
    background-color: #7c3aed;

}


/* 
::-webkit-scrollbar-track{
    background-color: #000000;
} */



/* Compétences */

.projects{
    background-color: #7c3aed;
}

.projects-box{
    display: grid;
    grid-template-columns: repeat(aut-fit, minmax(350px,1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #150f20;
    border: 2px solid #7c3aed;
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px #7c3aed;
    transition: 0.3s ease;

}

.project-card:hover{
 box-shadow: 0 0 25px #7c3aed,
            0 0 50px #7c3aed ;
transform: scale(1.03);
}

/* .projects-card img{
    max-width: 300px;
} */
